[mysqld]

# Enable Remote connection.
bind_address = 0.0.0.0

#Enabled Cache
query_cache_type=1
#Limit cache query size.
query_cache_limit=2M
#cache size
query_cache_size=256M
#Cache Index Size
key_buffer_size=64M
#InnoDB Buffer Pool Size
innodb_buffer_pool_size=2048M
#InnoDB Log File Size
innodb_log_file_size=128M


#Enable Query Log
slow_query_log=ON
#Set Time of Query Time
long_query_time=2
#Set Log File
slow_query_log_file=/var/log/mysql/mysql-slow.log

#Set Logging into Table
master_info_repository=TABLE
relay_log_info_repository=TABLE

#Setting replication parameters
server-id = 1
relay-log = /var/log/mysql/mysql-relay-bin.log
log_bin = /var/log/mysql/mysql-bin.log
binlog-ignore-db=information_schema
binlog-ignore-db=mysql
replicate-ignore-db=information_schema
replicate-ignore-db=mysql
binlog_format=MIXED